services:
  api:
    build: .
    ports:
      - 8881:80
    command: "fastapi dev /code/main.py --proxy-headers --host 0.0.0.0 --port 80"
    volumes:
      - .:/code/app
      - ./database.db:/code/database.db
    restart: always
    env_file:
      - .env
    depends_on:
      migrations:
        condition: service_completed_successfully

  migrations:
    build: .
    command: ["alembic", "upgrade", "head"]
    volumes:
      - ./database.db:/code/database.db
      - ./alembic:/code/alembic
    env_file:
      - .env
