services:
  api:
    build: .
    ports:
      - 8881:80
    command: "uvicorn main:app --reload --reload-exclude '*.db' --proxy-headers --host 0.0.0.0 --port 80"
    volumes:
      - .:/code/app
      - ./database.db:/code/database.db
    restart: always
    env_file:
      - .env
    environment:
      - DEBUG=true
    depends_on:
      migrations:
        condition: service_completed_successfully
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  migrations:
    build: .
    command: ["alembic", "upgrade", "head"]
    volumes:
      - ./database.db:/code/database.db
      - .:/code/app
    env_file:
      - .env
