services:
  api:
    build: .
    ports:
      - 8881:80
    restart: always
    env_file:
      - .env
    volumes:
      - ./database.db:/code/database.db
    depends_on:
      migrations:
        condition: service_completed_successfully
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  migrations:
    build: .
    command: ["alembic", "upgrade", "head"]
    volumes:
      - ./database.db:/code/database.db
    env_file:
      - .env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
